body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container,
.header-nav,
.header-nav-list,
.header-address-list {
  display: flex;
  align-items: center;
}

.header-nav-list,
.header-address-list {
  gap: 40px;
}

.header-nav-list-item-link.current,
.thumb,
.modal-form-field-input,
.modal-form-wrapper {
  position: relative;
}

.header-nav-list-item-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address-list-item-link,
.header-nav-list-item-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link {
  font-weight: 500;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list-item-link {
  color: #434455;
}

.header-nav-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-nav-logo-studio,
.footer-logo-studio {
  color: #2e2f42;
}

.header-nav-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav-list-item-link,
.strengths-list-item-title,
.team-title,
.team-list-item-title,
.portfolio-title,
.portfolio-list-item-title {
  color: #2e2f42;
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-nav-list-item-link:active,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus,
.header-nav-list-item-link.current {
  color: #404bbf;
}

.header-nav-list-item-link,
.header-address-list-item-link,
.strengths-list-item-text,
.team-list-item-text,
.portfolio-list-item-text,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-banner {
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-banner-button,
.modal-form-btn,
.footer-container-subscribe-form-buttom {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
}

.hero-banner-button,
.modal-form-btn,
.team-list-item-list-item-link,
.footer-list-item-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-banner,
.footer {
  background-color: #2e2f42;
}

.hero-banner-title,
.hero-banner-button,
.modal-form-btn,
.footer-container-subscribe-title,
.footer-container-subscribe-form-email,
.footer-container-subscribe-form-email::placeholder,
.footer-container-subscribe-form-buttom {
  color: #fff;
}

.hero-banner-button:hover,
.hero-banner-button:focus,
.team-list-item-list-item-link:hover,
.team-list-item-list-item-link:focus,
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}

.strengths,
.team,
.portfolio {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.strengths-list-item-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.strengths-list-item,
.team-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.strengths-list-item-title,
.team-list-item-title,
.portfolio-list-item-title,
.team-list-item-text {
  margin-bottom: 8px;
}

.strengths-list,
.team-list,
.team-list-item-list,
.footer-container-subscribe .footer-container-subscribe-form {
  display: flex;
  gap: 24px;
}

.strengths-list-item-title,
.team-list-item-title,
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-list-item-list {
  justify-content: center;
}

.team-list-item-list-item,
.footer-list-item {
  width: 40px;
  height: 40px;
}

.team-list-item-list-item-link,
.footer-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.team-list-item-list-item-link-icon,
.footer-list-item-link-icon {
  fill: #f4f4fd;
}

.team-title,
.portfolio-title {
  margin-bottom: 72px;
}

.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-card {
  padding: 32px 0;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-title,
.portfolio-title,
.hero-banner-title,
.team-list-item-title,
.team-list-item-text {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.thumb {
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .thumb-text {
  transform: translatey(0);
}

.portfolio-list-item:hover,
.team-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer {
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-logo-studio,
.footer-text {
  color: #f4f4fd;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-container-links-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.footer-list-item-link:hover,
.footer-list-item-link:focus,
.footer-container-subscribe-form-buttom:focus,
.footer-container-subscribe-form-buttom:hover {
  background-color: #31d0aa;
}

.footer-container-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-container-subscribe {
  margin-left: auto;
}

.footer-container-subscribe-form-email {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-subscribe-form-email:focus {
  border-color: #31d0aa;
}

.footer-container-subscribe-form-buttom {
  padding: 8px 24px;
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-subscribe-form-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field-input {
  margin-bottom: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-textarea {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-field-checkbox {
  margin-bottom: 24px;
}

.modal-form-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.modal-form-privacy-icon-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked
  + .modal-form-label-privacy
  .modal-form-custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
